* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --overlay-color: rgba(0, 0, 0, .7);
    --dialog-color: #e9ecef;
    --dialog-border-radius: 20px;
    --icon-color: rgba(73, 80, 87, .6);
    --dialog-padding: 20px;
    --drag-over-background: #e3e5e8;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #080d15;
    opacity: 0.7;
}

.index {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h2 {
    font-size: 6em;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.hero h3 {
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.btn.btn-lg {
    padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    font-size: 26px;
    /* font-weight: bold; */
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

.file-container .file-wrapper {
    position: fixed;
    display: block;
    width: 70vw;
    height: 80vh;
    max-height: 500px;
    min-height: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--dialog-color);
    z-index: 20;
    border-radius: var(--dialog-border-radius);
    padding: var(--dialog-padding);
}

.file-container .file-wrapper .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}

.file-container .file-wrapper .file-input--active+.file-content {
    background: var(--drag-over-background);
}

.file-container .file-wrapper .file-input--active+.file-content .file-icon {
    opacity: 0.5;
}

.file-container .file-wrapper .file-input--active+.file-content .file-icon i {
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.file-container .file-wrapper .file-input--active+.file-content .file-icon .icon-shadow {
    animation-name: shrink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}

.file-container .file-wrapper .file-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 8px dashed var(--icon-color);
    border-radius: var(--dialog-border-radius);
    transition: 0.2s;
}

.file-container .file-wrapper .file-content .file-infos {
    position: absolute;
    display: flex;
    width: 50%;
    height: 50%;
    min-width: 400px;
    min-height: 202px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.file-container .file-wrapper .file-content .file-infos .file-icon {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--icon-color);
    background-color: #f1f1f1;
    border-radius: var(--dialog-border-radius);
    padding: var(--dialog-padding);
    box-shadow: inset 0px 0px 6px 0px #ccc;
    transition: 0.2s;
}

.file-container .file-wrapper .file-content .file-infos .file-icon i {
    margin-bottom: 20px;
    width: 100%;
}

.file-container .file-wrapper .file-content .file-infos .file-icon .icon-shadow {
    position: relative;
    display: block;
    width: 95px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--drag-over-background);
    top: -17px;
    margin-left: auto;
    margin-right: auto;
}

.file-container .file-wrapper .file-content .file-infos .file-icon>span {
    position: absolute;
    bottom: var(--dialog-padding);
    width: calc(100% - var(--dialog-padding) * 2);
}

.file-container .file-wrapper .file-content .file-infos .file-icon>span span {
    display: none;
}

.file-container .file-wrapper .file-content .file-infos .file-icon>span .has-drag {
    display: inline;
}

.file-container .file-wrapper .file-content .file-infos .file-icon i,
.file-container .file-wrapper .file-content .file-infos .file-icon span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.file-container .file-wrapper .file-content .file-name {
    position: absolute;
    width: 100%;
    text-align: middle;
    left: 0;
    bottom: var(--dialog-padding);
    right: 0;
    font-weight: bold;
    font-size: 15pt;
    margin: auto;
    text-align: center;
}

.file-output {
    position: relative;
    display: block;
    width: 70vw;
    height: 80vh;
    max-height: 700px;
    min-height: 400px;
    top: 5%;
    right: 0;
    bottom: 300;
    left: 0;
    margin: auto;
    z-index: 2;
    overflow: hidden;
}

.predict-output {
    position: relative;
    top: 10%;
    left: 25%;
    width: 35vw;
}

.reload {
    position: relative;
    top: 15%;
    left: 35%;
}

thead tr {
    color: #f0d90c;
    text-align: center;
}

tbody tr {
    color: #ffffff;
    text-align: center;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00aeff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff0000;
    -webkit-animation: spin 0.5s reverse linear infinite;
    animation: spin 0.5s reverse linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

#output {
    width: 70vw;
    height: 100%;
    margin: auto;
}

#file-output {
    max-height: 100%;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes shrink {
    0% {
        width: 95px;
    }
    50% {
        width: 75px;
    }
    100% {
        width: 95px;
    }
}

@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 4em;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}